<div class="panel panel-default">
    <form class="form  panel-body" ng-submit="$ctrl.submit($event)">
        <div class="form-group">
            <label for="inputFirstName">First Name*</label>
            <input type="text" class="form-control" id="inputFirstName"
                   placeholder="Vasya" ng-model="$ctrl.contact.firstName" required>
        </div>
        <div class="form-group">
            <label for="inputLastName">Last Name*</label>
            <input type="text" class="form-control" id="inputLastName"
                   placeholder="Pupkin" ng-model="$ctrl.contact.lastName" required>
        </div>
        <div class="form-group form-inline"
             ng-repeat="tel in $ctrl.contact.phones track by $index">
            <label>Telephone*</label>
            <input type="tel" class="form-control"
                   ng-model="$ctrl.contact.phones[$index]" pattern="\+?[0-9\-\s]*" required>
        </div>
        <div class="form-group">
            <span class="glyphicon glyphicon-plus btn btn-success" ng-click="$ctrl.addTel()"></span>
            <span class="glyphicon glyphicon-minus btn btn-danger" ng-click="$ctrl.removeTel()"></span>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
        <button type="button" class="btn btn-default"
                ng-click="$ctrl.cancel()">Cancel
        </button>
    </form>
</div>