<nav role="navigation" class="navbar navbar-default">
    <div class="navbar-left">
        <div class="navbar-brand">
            <a href="groop/0" class="glyphicon glyphicon-phone-alt"></a>
        </div>
        <button href="#" class="btn btn-default navbar-btn" ng-click="$ctrl.up()">
            <span class="glyphicon glyphicon-level-up"></span>
        </button>
        <button href="#" class="btn btn-default navbar-btn" ng-click="$ctrl.addGroup()">
            <span class="glyphicon glyphicon-plus"></span>
            <span class="glyphicon glyphicon-folder-open"></span>
        </button>
        <button href="#" class="btn btn-default navbar-btn" ng-click="$ctrl.addContact()">
            <span class="glyphicon glyphicon-plus"></span>
            <span class="glyphicon glyphicon-user"></span>
        </button>
    </div>
   <search></search>
</nav>